Attributes [swRefresh="1"]
LoadInstrument LED[BoundX="514",BoundY="108",Port="0x01"]
LoadInstrument LED[BoundX="456",BoundY="108",Port="0x01",swBIT="2"]
LoadInstrument LED[BoundX="484",BoundY="108",Port="0x01",swBIT="1"]
LoadInstrument LED[BoundX="400",BoundY="108",Port="0x01",swBIT="4"]
LoadInstrument LED[BoundX="428",BoundY="108",Port="0x01",swBIT="3"]
LoadInstrument LED[BoundX="344",BoundY="108",Port="0x01",swBIT="6"]
LoadInstrument LED[BoundX="372",BoundY="108",Port="0x01",swBIT="5"]
LoadInstrument LED[BoundX="316",BoundY="108",Port="0x01",swBIT="7"]
